doctype html
html
  head
      include includes/base-style.pug

  //- extra non-base style
  style.

  body
    include includes/base-template.pug

    +email-content('Ooooooorra, não deixava!',
    '*Nome do supervisor* teve a cara lavada de ler seu convite de camaradagem e friamente recusou ser sua babá 🤡',
    './imgs/telenovela.gif', 'Não precisa encerrar a amizade, pra tudo tem uma explicação, temos certeza. Mas precisamos que você convide alguém disponível para te supervisionar nesse desafio ✨')
    
    +button('', 'Convide Novamente')(class="btn")