/*--
/*  17 - Blog CSS
/*----------------------------------------*/

.meeta-blog-wrap {
    margin-top: -25px;
}

.single-blog {
    background: #311a79;
    margin-top: 30px;
    & .blog-image {
        overflow: hidden;
        & a {
            display: block;
            & img {
                width: 100%;
                transition: $transition-default;
            }
        }
    }
    & .blog-content {
        padding: 20px 30px 40px;
        background: #ffffff;
        width: calc(100% - 20px);
        position: relative;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        margin-top: -50px;
        & .blog-meta {

            & .category {
                font-size: 13px;
                display: inline-block;
                height: 25px;
                line-height: 25px;
                background: $primary;
                color: $white;
                border-radius: 5px;
                padding: 0 15px;
                margin-right: 5px;

                &.color-1 {
                    background: #f9d464;
                }
                &.color-2 {
                    background: #00acee;
                }
            }
            & .date {
                font-size: 13px;
                line-height: 30px;
                color: #8d8d8d;
            }
        }
        & .title {
            font-size: 22px;
            line-height: 30px;
            font-family: $heading-font2;
            font-weight: 700;
            color: #1a0a1e;
            margin-top: 10px;
        }
    }

    &:hover {
        & .blog-image {

            & a {
                & img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

// Home Style Four
.meeta-blog-2 {
    .single-blog {
        box-shadow: 0px 30px 98px 0px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
        & .blog-image {
            overflow: hidden;
            & a {
                display: block;
                & img {
                    width: 100%;
                    transition: $transition-default;
                }
            }
        }
        & .blog-content {
            padding: 20px 30px 40px;
            background: #ffffff;
            width: 100%;
            position: relative;
            left: 0;
            bottom: 0px;
            transform: translateX(0);
            margin-top: 0px;
        }
    }
}


// Home Style Five

.meeta-blog-3 {
    & .section-title-4 {

        & .main-title {
            & .title-shape-2 {

                &::before {
                    left: 15px;
                    bottom: -55px;
                    @media #{$small-mobile}{
                        left: 10px;
                        bottom: -40px;
                    }
                }
            }
        }
    }
}

.single-blog-3 {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 30px;
    transform: translate3d(0, 0, 0);
    transition: $transition-default;

    & .blog-image {
        position: relative;
        
        & a {
            display: block;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(#151320, 0.5);
                width: 100%;
                height: 100%;
                z-index: 0;
            }
            & img { 
                width: 100%;
            }
        }
        & .top-meta {
            position: absolute;
            top: 35px;
            left: 30px;
            & .category {
                font-size: 13px;
                display: inline-block;
                height: 25px;
                line-height: 25px;
                color: #ffffff;
                border-radius: 5px;
                padding: 0 15px;
                margin-right: 5px;
            }
        }
    }
    & .blog-content {
        position: absolute;
        bottom: 40px;
        left: 40px;
        & .blog-meta {

            & .date {
                font-size: 13px;
                line-height: 24px;
                color: $white;
            }
        }
        & .title {
            font-size: 22px;
            line-height: 30px;
            font-family: $heading-font2;
            font-weight: 700;
            color: $white;
        }
    }

    &:hover {
        transform: translateY(-5px) translate3d(0, -5px, 0);
    }
    
}


// Blog Grid  Page

.meeta-blog-grid-wrap {
    margin-top: -30px;
    & .pagination {
        margin-top: 70px;
    }
}


  