/*--
/*  26 - Newsletter CSS
/*----------------------------------------*/

.newsletter-section {

    & .newsletter-wrap {
        background: $white;
        box-shadow: 0px 0px 133px 0px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 80px 70px 90px;
        margin-bottom: -145px;
        position: relative;
        z-index: 1;
        @media #{$tablet-device}{
            padding: 50px;
        }
        & .newsletter-text {

            & .title {
                font-size: 40px;
                line-height: 48px;
                font-family: $heading-font2;
                font-weight: 700;
                color: $heading-color;
                @media #{$tablet-device}{
                    text-align: center;
                    font-size: 36px;
                    line-height: 46px;
                    margin-bottom: 20px;
                }
                @media #{$small-mobile}{
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }
    
        & .newsletter-form {
            position: relative;
            & input {
                width: 100%;
                height: 60px;
                font-size: 18px;
                font-weight: 400;
                color: #93a1a2;
                padding: 0 30px;
                padding-right: 30px;
                padding-right: 195px;
                background-color: #f9fafc;
                border-radius: 5px;
                border: 0;
                @media #{$small-mobile}{
                    padding: 0 25px;
                }
            }
            & .btn {
                position: absolute;
                top: 0;
                right: 0;
                height: 60px;
                line-height: 60px;
                min-width: 160px;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                @media #{$small-mobile}{
                    position: relative;
                    width: 100%;
                    margin-top: 10px;
                    border-radius: 5px;
                }
    
                &::before {
                    display: none;
                }
            }
        }
    }
}

