/*--
/*  09 - Pricing CSS
/*----------------------------------------*/

.meeta-pricing{
    background-color: #311a79;
    position: relative;
    z-index: 1;
    overflow: hidden;

        &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background-image: url(../images/shape/shape-9.jpg);
            background-position: center center;
            background-size: cover;
            opacity: 0.15;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

    & .pricing-shape-01{
        position: absolute;
        top: 28%;
        right: 55px;
        z-index: -1;
        animation: round-01 5s linear infinite;
    }
    & .pricing-shape-02{
        position: absolute;
        top: 55%;
        left: 13%;
        z-index: -1;
        animation: rotate-style 10s linear infinite;
    }
    & .pricing-shape-03{
        position: absolute;
        top: 30%;
        left: -90px;
        width: 275px;
        height: 275px;
        border: 30px solid #f9d464;
        border-radius: 50%;
        z-index: -1;
    }
}


.meeta-pricing-row{
    padding-top: 40px;

    & [class*="col-"] {
        &:nth-child(3n+1){
            & .pricing-header{
                background-color: #f9d464;
            }
            & .price{            
                & span{
                    color: #f9d464;
                }
            }
            & .pricing-body{
                & .btn{
                    background-color: #f9d464;
                }
            }
        }
    }
    & [class*="col-"] {
        &:nth-child(3n+2){
            & .pricing-header{
                background-color: $primary;
            }
            & .price{            
                & span{
                    color: $primary;
                }
            }
            & .pricing-body{
                & .btn{
                    background-color: $primary;
                }
            }
        }
    }
    & [class*="col-"] {
        &:nth-child(3n+3){
            & .pricing-header{
                background-color: #00acee;
            }
            & .price{            
                & span{
                    color: #00acee;
                }
            }
            & .pricing-body{
                & .btn{
                    background-color: #00acee;
                }
            }
        }
    }
}

.single-pricing{
    text-align: center;
    overflow: hidden;
    border-radius: 5px;

    & .pricing-header{
        padding: 30px;
        position: relative;
        z-index: 1;

        & .price_title{
            font-size: 30px;
            font-weight: 700;
            color: $white;
            margin-top: -10px;
            margin-bottom: 8px;
        }
        & .price{
            width: 95px;
            height: 95px;
            line-height: 95px;
            margin: 0 auto;
            background-color: $white;
            border-radius: 50%;
            text-align: center;
        
            & span{
                font-size: 60px;
                font-family: $heading-font;
                font-weight: 700;
            }
            & sup{
                font-size: 16px;
                top: -35px;
            }
        }
    }



    & .pricing-body{
        padding: 60px 30px;
        background-color: $white;
    
        & ul{
            & li{
                font-size: 16px;
                color: $body-color;
    
                & + li{
                    margin-top: 8px;
                }
            }
        }
        & .btn{
            margin-top: 50px;
            width: 200px;
            color: $white;
        }
    }

    &.active{
        margin-top: -40px;
        position: relative;
    
        @media #{$tablet-device, $large-mobile}{
            margin-top: 0;
        }
    
        & .pricing-header{
            padding: 50px 30px;
        }
        & .pricing-body{
            padding: 80px 30px;
        }
    }
}

@keyframes rotate-style {
    0% {
        transform: rotate(0deg);
    }
      100% {
        transform: rotate(360deg);
    }
}

// Home Style Two

.meeta-pricing-2 {
    background: #1a0a1e;
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(../images/event-bg-1.jpg);
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    & .shape-1 {
        position: absolute;
        left: 0;
        bottom: -35px;
        z-index: -1;
    }

    & .single-pricing{
    
        & .pricing-header{
    
            & .price_title{
                font-family: $heading-font2;
            }
            & .price{
            
                & span{
                    font-size: 50px;
                    font-family: $heading-font2;
                }
                & sup {
                    font-size: 14px;
                    top: -25px;
                }
            }
        }
    }
}

// Home Style Three

.meeta-pricing-3 {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(../images/bg/price-3-bg.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    & .single-pricing {

        & .pricing-body {
            & .btn {
                border-radius: 5px;
                transition: $transition-default;
    
                &::before {
                    display: none;
                }
    
                &:hover {
                    background: #311a79;
                    color: $white;
                }
            }
        }
    }
}


// Home Style Four

.meeta-pricing-4 {
    position: relative;
    z-index: 5;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(../images/bg/price-4-bg.jpg);
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(#1a0a1e, 0.8);
        top: 0;
        left: 0;
        z-index: -1;
    }

    & .meeta-pricing-row {
        @media #{$desktop-device} {
            padding-top: 15px;
        }
    }
    & .single-pricing{
        overflow: hidden;
        position: relative;
        z-index: 5;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-image: url(../images/shape/price-shape.png);
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        
        & .pricing-body{
            padding-top: 25px;
            & ul {

                & li {
                    color: $white;
                }
            }
        }
        &.color-1 {
            background: #f9d464;
            & .pricing-header {
                background: none; 
            }
            & .pricing-body{
                background: none;
                & .btn {
                    background: $primary;
                }
            }
        }
        &.color-2 {
            background: $primary;
            & .pricing-header {
                background: none; 
            }
            & .pricing-body{
                background: none;

                & .btn {
                    background: #f9d464;
                }
            }
        }
        &.color-3 {
            background: #0db0ef;
            & .pricing-header {
                background: none; 
            }
            & .pricing-body{
                background: none;

                & .btn {
                    background: $primary;
                }
            }
        }
    }
}


// Pricing-5
.meeta-pricing-5 {
    background: $white;
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
}






