/*--
/*  04 - Register & Countdown CSS
/*----------------------------------------*/

// Register & Countdown Section
.meeta-register-countdown{
    
    & .register-countdown-shape{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -50px;
        z-index: -2;
    }

}

// Register & Countdown Wrapper
.meeta-register-countdown-wrapper{
    padding: 70px 100px;
    box-shadow: 0px 10px 180px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-top: -143px;
    background-color: $white;

    @media #{$large-mobile}{
        padding: 40px;
    }
    @media #{$small-mobile}{
        margin-top: 50px;
        padding: 20px;
    }

    &::before{
        position: absolute;
        content: '';
        background-image: url(../images/shape/shape-3.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.45;
    }

}

// Register 
.meeta-register{
    
    & .register-title{
        font-size: 40px;
        font-weight: 700;
        margin-top: -10px;
    
        @media #{$small-mobile}{
            font-size: 28px;
        }
    }
    & .register-btn{
        margin-top: 15px;
        padding: 0 60px;
    }
}


// Countdown
.meeta-countdown{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    & .single-countdown{
        text-align: center;
        position: relative;
    
        &::before{
            content: ':';
            font-size: 58px;
            font-weight: 700;
            font-family: $heading-font;
            line-height: 1;
            position: absolute;
            right: -34.5%;
            top: 14px;
    
            @media #{$large-mobile}{
                font-size: 40px;
            }
            @media #{$small-mobile}{
                top: 10px;
                font-size: 24px;
                right: -24%;
            }
        }
    
        & .count{
            font-size: 58px;
            font-weight: 700;
            font-family: $heading-font;
            width: 110px;
            height: 110px;
            line-height: 110px;
            display: block;
            text-align: center;
            color: $white;
    
            @media #{$large-mobile}{
                font-size: 40px;
                width: 80px;
                height: 80px;
                line-height: 80px;
            }
            @media #{$small-mobile}{
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 24px;
            }
        }
        & .value{
            color: #9a9a9a;
            margin-top: 10px;
            display: block;
        }
    
        &:nth-child(1){
            & .count{
                background-color: #f9d464;
            }
    
            &::before{
                color: #f9d464;
            }
        }
        &:nth-child(2){
            & .count{
                background-color: #00acee;
            }
            &::before{
                color: #00acee;
            }
        }
        &:nth-child(3){
            & .count{
                background-color: #fc097c;
            }
            &::before{
                color: #fc097c;
            }
        }
        &:nth-child(4){
            & .count{
                background-color: #554bb9;
            }
            &::before{
                color: #554bb9;
            }
        }
    
        &:last-child{
            &::before{
                display: none;
            }
        }
    }
}

// Home Style Four

.register-countdown-4 {
    margin-top: -80px;
    position: relative;
    z-index: 5;
    
    & .count-shape-1 {
        position: absolute;
        left: 15px;
        bottom: -25px;
    }
    & .count-shape-2 {
        position: absolute;
        right: 15px;
        top: -25px;
    }
    & .count-shape-3 {
        position: absolute;
        top: 0;
        left: 0;
        
    }
    & .meeta-register-countdown-wrapper {
        padding: 35px 120px 50px;
        max-width: 1080px;
        margin: 30px auto;
        &::before {
            display: none;
        }

        & .meeta-countdown {

            & .single-countdown  {

                & .count {
                    height: 95px;
                    line-height: 110px;
                    font-family: $heading-font2;
                    background: none;
                    color: $primary;
                }
                & .value {
                    margin-top: 0;
                }

                &:nth-child(1) {

                    &::before {
                        color: $primary;
                    }
                }
                &:nth-child(2) {
                    & .count {
                        color: #f9d464;
                    }
                    &::before {
                        color: #f9d464;
                    }
                }
                &:nth-child(3) {
                    & .count {
                        color: #0db0ef;
                    }
                    &::before {
                        color: #0db0ef;
                    }
                }
                &:nth-child(4) {

                    & .count {
                        color: #554bb9;
                    }
                }
            }
        }
    }
}

.register-countdown-4  {
    @media #{$desktop-device} {
        margin-top: -35px;

        & .meeta-register-countdown-wrapper {
            margin: 30px 30px;
        }
    }
    @media #{$tablet-device} {
        margin-top: -35px;

        & .meeta-register-countdown-wrapper {
            padding: 35px 40px 50px;

            & .meeta-countdown {

                & .single-countdown  {
    
                    & .count {
                        height: 85px;
                        line-height: 105px;
                    }
                }
            }
        }
    }
    @media #{$large-mobile} {  
        margin-top: 0;
        & .meeta-register-countdown-wrapper {
            padding: 35px 40px 50px;

            & .meeta-countdown {

                & .single-countdown  {
    
                    & .count {
                        width: 70px;
                        height: 62px;
                        line-height: 82px;
                    }
                }
            }
        }
    }
    @media #{$small-mobile} {
        & .count-shape-1 {
            display: none;
        }
        & .count-shape-2 {
            display: none;
        }

        & .meeta-register-countdown-wrapper {
            padding: 35px 20px 50px;
            max-width: 100%;
            margin: 0 auto;

            & .meeta-countdown {

                & .single-countdown  {
    
                    & .count {
                        width: 60px;
                        height: 45px;
                        line-height: 55px;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
