/*--
/*  27 - Event Project CSS
/*----------------------------------------*/

  
.meeta-event-project {

    & .section-title-4 {

        & .main-title {
            & .title-shape-1 {

                &::before {
                    left: 55px;
                    bottom: -55px;
                    @media #{$small-mobile}{
                        left: 10px;
                        bottom: -40px;
                    }
                }
            }
        }
    }

    & .meeta-event-project-wrap {

        & .project-item {
            display: flex;

            & .event-project-thumb {
                height: 575px;
                width: 1140px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                & img {
    
                }
            }
            & .event-project-content {
                background: $white;
                box-shadow: 0px 5px 95px 0px rgba(0, 0, 0, 0.1);
                padding: 75px 40px 45px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                max-width: 550px;
                display: none;
                @media #{$small-mobile} {
                    padding: 50px 35px 45px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url(../images/shape/project-shape.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center top;
                    width: 100%;
                    height: 100%;
                }
                & .title {
                    font-size: 30px;
                    line-height: 40px;
                    font-family: $heading-font2;
                    font-weight: 700;
                    color: $heading-color;
                    @media #{$large-mobile} {
                        font-size: 28px;
                    }
                }
                & .event-meta {
                    margin-top: 15px;
                    & span {
                        font-size: 13px;
                        line-height: 24px;
                        font-weight: 600;
                        margin-right: 25px;
    
                        & i {
                            color: $primary;
                            margin-right: 5px;
                        }
                    }
                }
                & .register-countdown-5 {
                    margin-top: 0;
                    & .meeta-register-countdown-wrapper {
                        padding: 0;
                        max-width: 0;
                        margin: 0;
                        box-shadow: none;
                        & .meeta-countdown {
    
                            & .single-countdown {
                                text-align: left;
    
                                &::before {
                                    content: ':';
                                    font-size: 36px;
                                    right: 20.5%;
                                    top: 48px;
                                    @media #{$large-mobile} {
                                        font-size: 32px;
                                        right: 22.5%;
                                        top: 25px;
                                    }
                                    @media #{$small-mobile} {
                                        font-size: 28px;
                                        right: 19.5%;
                                        top: 12px;
                                    }
                                }
    
                                & .count {
                                    width: 105px;
                                    font-size: 36px;
                                    line-height: 145px;
                                    text-align: left;
                                    @media #{$large-mobile} {
                                        font-size: 32px;
                                        line-height: 90px;
                                    }
                                    @media #{$small-mobile} {
                                        width: 80px;
                                        font-size: 28px;
                                        line-height: 62px;
                                    }
                                }
    
                                & .value {
                                    @media #{$small-mobile} {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
    
                & .btn-2 {
                    border-radius: 5px;
                    margin-top: 40px;
                }
    
            }
        }

        & .swiper-slide {

            &.swiper-slide-active {

                & .event-project-thumb {
                    max-width: 650px;
                }
                
                & .event-project-content  {
                    display: block;
                }
            }
        }
    }
}




