style.

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">

  .content-frame {
    background-color: #FFFFFF;
    padding: 20px;
    max-width: 740px;
  }

  .content-wrapper {
    pointer-events: none;
    font-family: 'Work Sans', sans-serif;
    color: #272727;
    background-color: #F7F7F7;
    max-width: 740px;
    border-radius: .80rem;
    padding: 40px;
    margin-left: 30px;
  }

  h1 {
    color: #CD4522;
  }

  .image {
    text-align: center;
    margin: 40px 30px;
  }

  .btn-container {
    margin-left: 30px;
    padding: 20px;
    max-width: 740px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .btn-wrapper {
    padding: 50px;
    max-width: 740px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .btn {
    background-color: #900C3F;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .80rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #F7F7FF;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
    text-decoration: none;
  }

  .btn:hover,
  .btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }

  .btn:hover {
    transform: translateY(-1px);
  }
