/*--
/*  10 - Gallery CSS
/*----------------------------------------*/

.meeta-gallery{
    position: relative;
    overflow: hidden;
}

// Single Gallery
.single-gallery{
    position: relative;
    text-align: center;

    &:hover{
        & .gallery-content{
            opacity: 1;
            visibility: visible;

            & .gallery-content-wrap {
                & .gallery-plus,
                & .gallery-title{
                    transform: translateY(0);
                }
            }
        }
    }

    & .gallery-image{
        & img{
            width: 100%;
        }
    }

    & .gallery-content{
        position: absolute;
        top: 20px;
        left: 15px;
        right: 15px;
        bottom: 20px;
        background-color: $primary;
        opacity: 0;
        visibility: hidden;
        transition: $transition-default;

        & .gallery-content-wrap{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);

            & .gallery-plus{
                transform: translateY(-100%);
                transition: $transition-default;
            
                & span{
                    width: 50px;
                    height: 50px;
                    position: relative;
                    display: block;
            
                    @media #{$large-mobile}{
                        width: 30px;
                        height: 30px;
                    }
            
                    &::before{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: $white;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &::after{
                        position: absolute;
                        content: '';
                        width: 2px;
                        height: 100%;
                        background-color: $white;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            & .gallery-title{
                font-size: 18px;
                font-weight: 600;
                margin-top: 30px;
                transform: translateY(100%);
                transition: $transition-default;
            
                @media #{$large-mobile}{
                    margin-top: 15px;
                }
                
                & a{
                    background-color: $white;
                    padding: 0 5px;
                }
            }
        }
    }
}

// Home Style Two

.meeta-gallery-2 {

    & .single-gallery {

        & .gallery-content {

            & .gallery-content-wrap {

                & .gallery-title {
                    font-family: $heading-font2;
                }
            }
        }
    }
}

// Home Style Four

.meeta-gallery-4 {
    background: #554bc0;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../images/bg/insta-bg.jpg);
        background-repeat: no-repeat;
        background-position: center toopp;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    & .single-gallery {

        & .gallery-image {

            & img {
                height: 300px;
                object-fit: cover;
            }
        }
    }
}










