/*--
/*  20 - Speaker Single CSS
/*----------------------------------------*/

.meeta-speaker-single {

    & .meeta-speaker-single-wrap {

        & .speaker-image-box {
            background: $white;
            box-shadow: 0px 6px 120px 0px rgba(0, 0, 0, 0.07);
            padding: 40px 70px 100px;
            position: relative;
            z-index: 1;
            @media #{$desktop-device} {
                padding: 40px 50px 90px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background-image: url(../images/shape/speaker-sh-2.png);
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: cover;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            & .speaker-image {

                & img {
                    border-radius: 50%;
                    padding: 10px;
                    background-color: #f9d464;
                }
            }

            & .speaker-content {
                margin-top: 25px;
                & .speaker-name {
                    font-size: 24px;
                    line-height: 25px;
                    font-family: $heading-font2;
                    font-weight: 700;
                    color: $heading-color;
                }
                & .speaker-designation {

                }

                & .speaker-social {
                    margin-top: 20px;
                    & ul {

                        & li {
                            display: inline-block;

                            & a {
                                width: 35px;
                                height: 35px;
                                line-height: 35px;
                                font-size: 16px;
                                text-align: center;
                                border-radius: 50%;
                                color: $white;

                                &.share-facebook {
                                    background: #374ccb;
                                }
                                &.share-twitter {
                                    background: #37abee;
                                }
                                &.share-pinterest {
                                    background: #d64145;
                                }
                            }

                            & + li {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
        
    }
}

.speaker-single-right {
    padding-left: 40px;
    
    @media #{$tablet-device} {
        padding-left: 0px;
        margin-top: 50px;
    }
    & .speaker-single-info-wrap {
        & .main-title {
            font-size: 30px;
            line-height: 1;
            font-family: $heading-font2;
            font-weight: 700;
            color: $heading-color;
            margin-bottom: 20px;
            @media #{$large-mobile} {
                font-size: 28px;
            }
        }
        & .speaker-info {
            margin-top: 45px;
            
            & .speaker-info-list {
                background: #f8f8f8;
                border: 1px solid #ebebeb;
                border-radius: 5px;
                @media #{$large-mobile} {
                    margin-top: 30px;
                }
                & ul {

                    & li {
                        padding: 10px 25px;
                        & .title {
                            font-size: 14px;
                            line-height: 24px;
                            font-family: $heading-font2;
                            font-weight: 600;
                            color: $primary;
                        }
                        & p {
                            font-size: 14px;
                            line-height: 24px;
                        }

                        & + li {
                            border-top: 1px solid #ebebeb;
                        }
                    }
                }
            }
        }
    }

    & .meeta-event-featured {
        margin-top: 65px;
        & .main-title {
            font-size: 30px;
            line-height: 1;
            font-family: $heading-font2;
            font-weight: 700;
            color: $heading-color;
            margin-bottom: 20px;
            @media #{$large-mobile} {
                font-size: 28px;
            }
        }
        & .single-item {

            & .featured-img {
                position: relative;
                overflow: hidden;
                border-radius: 4px;
                & a {
                    display: block;
                    
                    & img {
                        width: 100%;
                        transition: $transition-default;
                    }
                }
                & .top-meta {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    & .date {
                        width: 40px;
                        height: 40px;
                        line-height: 14px;
                        font-size: 10px;
                        border-radius: 50%;
                        font-family: $heading-font2;
                        font-weight: 600;
                        background: $white;
                        display: inline-block;
                        text-align: center;
                        padding: 8px;
                        color: $heading-color;

                        & span {
                            font-size: 14px;
                            line-height: 11px;
                            font-family: $heading-font2;
                            font-weight: 700;
                            display: block; 
                            color: $heading-color;
                        }
                    }
                }
            }

            & .featured-content {
                background: $white;
                box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.05);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                padding: 0 14px 30px;
                & .category  {
                    font-size: 10px;
                    font-weight: 700;
                    height: 20px;
                    line-height: 18px;
                    padding: 0 15px;
                    color: $white;
                    border-radius: 5px;
                    display: inline-block;
                    transform: translateY(-15px);
                }
                & .title {
                    font-size: 13px;
                    line-height: 17px;
                    font-family: $heading-font2;
                    font-weight: 700;
                    color: $heading-color;
                }
                & .meta {
                    font-size: 10px;
                    line-height: 12px;
                    & i {
                        font-size: 11px;
                        color: $heading-color;
                        margin-right: 5px;
                    }
                }
            }

            &:hover {
                & .featured-img {
                    & a {  
                        & img {
                            transform: scale(1.1);
                        }
                    }
                } 
            }
        }
    }
}

  