mixin content()
    #getChallenge
        #playerName(data-field="playerName")
        p Tentou:
        #challengeGoal(data-field="goal")
        p Até a data:
        #challengeDeadline(data-field="deadline")
        p Se não, vai pagar:
        #challengePrice(data-field="price")
