html(class="no-js" lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title  Meeta - Event &amp; Conference HTML5 Template
    meta(name='robots' content='noindex, follow')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    include ./_cdns.pug
    +headImports

  body
    //- Temporary links to other pages
    a(href="../challenge/challenge.pug") Go to Challenge
    br
    a(href="../acceptChallenge/acceptChallenge.pug") Go to Accept Challenge
    include ../../components/challengeSuggestions/_challengeSuggestions.pug
    include ../../components/lastPlayersSession/_lastPlayersSession.pug
    include ../../components/createChallenge/createChallenge.pug
    +scriptImports
