// Section Title Start
doctype html 
          
html
  head
  body
    .meeta-section-title-2.section-title-4.text-center
      
      h2.main-title Se desafie!
    // Section Title End
    .row.gy-5.justify-content-between
      .col-lg-12
        // Event Schedule Tabs Start
        .meeta-event-schedule-tabs
          // Event Schedule Tabs Menu Start
          ul.meeta-event-schedule-tabs-menu
            li.active(data-tab-target='#tab1')
              .meeta-event-schedule-time
                h4.meeta-event-schedule-day Day 1
                p Oct 08, 2022
            li.tab(data-tab-target='#tab2')
              .meeta-event-schedule-time.color-1
                h4.meeta-event-schedule-day Day 2
                p Oct 09, 2022
            li.tab(data-tab-target='#tab3')
              .meeta-event-schedule-time.color-2
                h4.meeta-event-schedule-day Day 3
                p Oct 10, 2022
            li.tab(data-tab-target='#tab4')
              .meeta-event-schedule-time.color-3
                h4.meeta-event-schedule-day Day 4
                p Oct 11, 2022