html(class="no-js" lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title  Meeta - Event &amp; Conference HTML5 Template
    meta(name='robots' content='noindex, follow')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Favicon
    link(rel='shortcut icon' type='image/x-icon' href='../assets/images/favicon.png')
    // Google Fonts
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    //
      CSS
      ============================================
    // Icon Font CSS
    link(rel='stylesheet' href='../assets/css/all.min.css')
    link(rel='stylesheet' href='../assets/css/flaticon.css')
    // Plugins CSS
    link(rel='stylesheet' href='../assets/css/bootstrap.min.css')
    link(rel='stylesheet' href='../assets/css/swiper-bundle.min.css')
    link(rel='stylesheet' href='../assets/css/magnific-popup.css')
    link(rel='stylesheet' href='../assets/css/aos.css')
    link(rel='stylesheet' href='../assets/css/nice-select.css')
    // Main Style CSS
    link(rel='stylesheet' href='../assets/css/style.css')

  body






    script(src='script.js')
    // Modernizer & jQuery JS
    script(src='../assets/js/vendor/modernizr-3.11.7.min.js')
    script(src='../assets/js/vendor/jquery-1.12.4.min.js')
    // Bootstrap JS
    script(src='../assets/js/popper.min.js')
    script(src='../assets/js/bootstrap.min.js')
    // Plugins JS
    script(src='../assets/js/swiper-bundle.min.js')
    script(src='../assets/js/all.js')
    script(src='../assets/js/back-to-top.js')
    script(src='../assets/js/jquery.magnific-popup.min.js')
    script(src='../assets/js/jquery.counterup.min.js')
    script(src='../assets/js/waypoints.min.js')
    script(src='../assets/js/aos.js')
    script(src='../assets/js/jquery.nice-select.min.js')
    // Main JS
    script(src='../assets/js/main.js')
