/*--
/*  26.1 - Footer Widget CSS
/*----------------------------------------*/

// Footer Widget Area
.footer-widget {}

// Footer Logo
.footer-logo {
    & img{
        @media #{$small-mobile}{
            width: 160px;
        }
    }
}

// Footer Newsletter
.footer-newsletter {
    padding-top: 32px;

    & p{
        font-size: 18px;
        font-weight: 400;
        color: $white;

        @media #{$small-mobile}{
            font-size: 16px;
        }
    }
}

// Footer Newsletter Form
.footer-newsletter-form {
    max-width: 750px;
    margin: 18px auto 0;
    position: relative;

    & input{
        width: 100%;
        height: 60px;
        font-size: 18px;
        font-weight: 400;
        color: #93a1a2;
        padding: 0 30px;
        padding-right: 195px;
        background-color: $white;
        border: 0;

        @media #{$small-mobile}{
            height: 50px;
            padding: 0 25px;
            font-size: 16px;
        }
    }
    & .btn{
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        line-height: 60px;
        min-width: 165px;

        @media #{$small-mobile}{
            position: relative;
            width: 100%;
            height: 50px;
            line-height: 50px;
            margin-top: 10px;
        }
    }
}


// Footer Widget Social
.footer-widget-social {
    display: flex;
    gap: 48px;
    justify-content: center;
    margin-top: 38px;

    @media #{$small-mobile}{
        gap: 24px;
    }

    & a{
        font-size: 36px;
        color: #a3a3cb;
        line-height: 1.1;

        @media #{$small-mobile}{
            font-size: 24px;
        }

        &:hover{
            color: $primary;
        }
    }
}

// Footer Copyright
.footer-copyright {
    margin-top: 42px;

    & p{
        color: #a3a3cb;
    }
}


// Home Style Two

.meeta-footer-section {

    &.meeta-footer-2 {
        padding-bottom: 0;
    }
}

// Footer Two
.meeta-footer-2 {
    

    & .footer-widget {

        & .footer-wrap {
            padding-bottom: 80px;
        }
    }

    & .footer-newsletter {
        padding-top: 0;
        @media #{$desktop-device}{
            padding-left: 50px;
        }
        @media #{$tablet-device}{
            padding-left: 0;
            padding-top: 50px;
        }

        & .footer-newsletter-form {
            margin-top: 0;
            margin-right: 0;
        }
    }

    & .footer-bottom-wrap {
        padding-left: 125px;
        margin-top: 80px;
        @media #{$desktop-device}{
            padding-left: 50px;
        }
        @media #{$tablet-device}{
            padding-left: 0px;
        }
        @media #{$large-mobile}{
            margin-top: 60px;
        }

        & .footer-info {
 
            & .title {
                font-size: 22px;
                line-height: 30px;
                font-family: $heading-font2;
                font-weight: 700;
                color: $white;
            }
            & .date {
                font-size: 14px;
                line-height: 30px;
                font-family: $body-font;
                font-weight: 700;
                color: $primary;
                display: inline-block;
                margin-top: 20px;
            }
            & p {
                font-size: 14px;
                line-height: 30px;
                font-family: $body-font;
                font-weight: 400;
                color: $white;
            }
        }
    }

    & .footer-widget-social {
        gap: 20px;
        justify-content: flex-start;
        margin-top: 30px;

        & a {
            font-size: 18px;
        }
    }

    & .footer-widget-map {
        @media #{$large-mobile}{
            margin-top: 40px;
        }   
        & iframe {
            width: 100%;
            height: 200px;
            filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
        }
    }

    & .footer-copyright {
        border-top: 3px solid #1e0c53;
        padding-top: 40px;
        padding-bottom: 45px;
        margin-top: 0;

        & p {
            font-size: 14px;
            line-height: 24px;
            font-family: $body-font;
            color: #a3a3cb;
        }
    }
    
}

// Home Style Three
.meeta-footer-section {
    &.meeta-footer-3 {
        padding-bottom: 0;
    }
}
.meeta-footer-3 {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: rgba( #1a1831, 0.95);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    & .footer-widget-wrap {
        padding-bottom: 100px;
        margin-top: -40px;
        @media #{$tablet-device}{
            padding-bottom: 80px;
        }
        & .footer-widget {
            margin-top: 40px;
            & .widget-title {
                font-size: 18px;
                line-height: 30px;
                font-family: $heading-font2;
                font-weight: 700;
                color: $white;
                margin-bottom: 20px;
            }
            & .footer-logo {
                margin-top: 15px;
            }
            & .widget-text {

                & .date {
                    font-size: 14px;
                    line-height: 30px;
                    font-family: $body-font;
                    font-weight: 700;
                    color: $primary;
                }
                & p {
                    font-size: 14px;
                    line-height: 24px;
                    font-family: $body-font;
                    font-weight: 400;
                    color: $white;
                }
                & .btn-2 {
                    height: 45px;
                    line-height: 45px;
                    font-size: 14px;
                    border-radius: 5px;                   
                    margin-top: 20px;
                }
            }
            & .widget-info {

                & ul {

                    & li {
                        display: flex;
                        align-items: center;

                        & + li {
                            margin-top: 5px;
                        }
                        & .info-icon {

                            & i {
                                font-size: 17px;
                                color: $primary;
                                margin-right: 10px;
                            }
                        }
                        & .info-text {
                            font-size: 14px;
                            line-height: 30px;
                            font-family: $body-font;
                            font-weight: 400;
                            color: $white;
                        }
                        
                    }
                }
            }
            & .widget-form {
                position: relative;
                & .form-control {
                    height: 45px;
                    background-color: #f0f0f0;
                    color: #93a1a2;
                    font-weight: 400;
                    border: 0;
                    padding-left: 20px;
                    padding-right: 50px;
                    font-size: 14px;
                    border-radius: 5px;

                    &:focus {
                        box-shadow: none;
                    }
                }

                & button {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    background: $primary;
                    border: 0;
                    color: #ffffff;
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 14px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
            & .footer-widget-social {
                gap: 25px;
                justify-content: flex-start;
                margin-top: 20px;

                & a {
                    font-size: 15px;
                    color: $white;
                    transition: $transition-default;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
        
    }

    & .footer-copyright {
        background: #151320;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 0;

        & .copyright-text {

            & p {

            }
        }
    }
}

// Home Style Four

.meeta-footer-4 {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(#1a0a1e, 0.7);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    & .footer-widget {
        & .footer-newsletter {
            background: #554bc0;
            max-width: 950px;
            margin: 0 auto;
            padding-top: 45px;
            padding: 40px 50px 60px;
            margin-top: 60px;
            @media #{$desktop-device}{
                padding: 30px 50px 60px;
            }
            & .title {
                font-size: 44px;
                line-height: 70px;
                font-family: $heading-font2;
                font-weight: 700;
                color: $white;
                @media #{$tablet-device}{
                    font-size: 36px;
                    line-height: 48px;
                }
                @media #{$small-mobile}{
                    font-size: 30px;
                    line-height: 40px;
                }
            }
            & .footer-newsletter-form {
                margin-top: 10px;
                @media #{$tablet-device}{
                    margin-top: 20px;
                }
    
                & .btn {
    
                    &::before {
                        display: none;
                    }
                }
            }
        }
    
        & .footer-widget-social {
            gap: 20px;
            & a {
                font-size: 18px;
                width: 45px;
                height: 45px;
                line-height: 43px;
                border: 1px solid $white;
                border-radius: 50%;
                color: $white;

                &:hover {
                    color: $primary;
                }
            }
        }

        & .footer-copyright {

            & p {

            }
        }
    }
}


// Home Style Five

.footer-menu {
    margin-top: 45px;
    & ul {

        & li {
            display: inline-block;
            & a {
                font-size: 18px;
                line-height: 24px;
                font-family: $heading-font2;
                font-weight: 700;
                display: inline-block;
                color: $white;
                transition: $transition-default;

                &:hover {
                    color: $primary;
                }
            }

            & + li {
                margin-left: 45px;
                @media #{$small-mobile}{
                    margin-left: 38px;
                }
            }
        }
    }
}

.meeta-footer-5 {
    padding-top: 225px;
    padding-bottom: 65px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    & .footer-widget-social {
        border-top: 1px solid #4a555f;
        gap: 20px;
        padding-top: 35px;
        margin-top: 70px;
        & a {
            height: 45px;
            width: 45px;
            line-height: 45px;
            background-color: #34404b;
            border-radius: 50%;
            font-size: 22px;
            color: $white;
            transition: $transition-default;

            &:hover {
                color: $primary;
            }
        }
    }

    & .footer-copyright {

        & p {
            color: #919191;
        }
    }
}

 