doctype html!
head
 body
  p.
   #{supervisor}, #{player} cumpriu com a missão de #{player.challenge}?

  div.btn(onClick="buttonClickYes()" placeholder="Sim, cumpriu a missão")
  div.btn(onClick="buttonClickNo()" placeholder="Não, não cumpriu a missão")
footer
+scriptsImports 

