form#payment-form
  #payment-element
    // Elements will create form elements here
  button#submit Submit
  #error-message
    // Display error message to your customers here
script( type="module" defer src="../../components/paymentInfo/checkout.ts")
