mixin content()
    #getChallenge
        #playerName(data-field="playerName")
        p Vai tentar:
        #challengeGoal(data-field="goal")
        p Até a data:
        #challengeDeadline(data-field="deadline")
        p Se não, vai pagar:
        #challengePrice(data-field="price")
        p O nome e o email do seu supervisor ou supervisora é:
        #challengeSupervisorName(data-field="supervisorName")
        #challengeSupervisorEmail(data-field="supervisorEmail")
