head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title  ATQR - AJOELHOU TEM QUE REZAR
  meta(name='robots', content='noindex, follow')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  include ../index/_cdns.pug
  include challengeMixins.pug
  +headImports
  +headScripts
body
  .main-wrapper
    .meeta-event-project-wrap.event-project-active.slider-bullet
      .swiper
        .swiper-wrapper
          .swiper-slide
            .project-item
              .event-project-thumb(style='background-image: url(../../assets/images/up-event-1.jpg);')
              .event-project-content
                h3.title Resumo do seu Desafio:
                  +content
                .meeta-register-countdown.register-countdown-4.register-countdown-5
                  .meeta-register-countdown-wrapper
                    // Countdown Start
                    .meeta-countdown.countdown(data-countdown='' data-format='')
                      .single-countdown
                        span.count.countdown__time.daysLeft
                        span.value.countdown__time.daysText
                      .single-countdown
                        span.count.countdown__time.hoursLeft
                        span.value.countdown__time.hoursText
                      .single-countdown
                        span.count.countdown__time.minsLeft
                        span.value.countdown__time.minsText
                      .single-countdown
                        span.count.countdown__time.secsLeft
                        span.value.countdown__time.secsText
                    // Countdown End
                #updateChallenge
                    a.btnUpdateChallenge() Confirmar
