.meeta-about-section-3.section-padding
  .container
    .row.align-items-center
      .col-lg-6
        //  About Images Start
        .about-images-3-wrap
          .shape-1
            img(src="../../assets/images/shape/ab-shape-1.png", alt)
          .about-img-big
            img(src="../../assets/images/about-3.jpg", alt)
            .shape-2
              img(src="../../assets/images/shape/ab-shape-2.png", alt)
          .about-img-small
            .image-1
              img(src="../../assets/images/about-4.jpg", alt)
            .image-2
              img(src="../../assets/images/about-5.jpg", alt)
        //  About Images End
      .col-lg-6
        .about-content-3-wrap
          //  Section Title Start
          .meeta-section-title-2
            h2.main-title Para onde vai o dinheiro?
          //  Section Title End
          //  About Content Start
          .about-content-3
            p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti esse quod voluptatibus sapiente saepe voluptatem, deserunt ipsam culpa quae adipisci voluptatum veniam quibusdam quia numquam libero dolorem laborum, minus alias.
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus unde cumque ut corrupti, mollitia aspernatur est accusantium minus magni omnis similique maiores ea nisi magnam libero quidem inventore dolore quaerat.
          //  About Content End
