include ./_challengeForm.pug
.meeta-event-schedule.meeta-event-schedule-2.section-padding
  .container
    // Section Title Start
    .meeta-section-title-2.text-center
      h4.sub-title Ajoelhou tem que rezar
      h2.main-title Crie Um Desafio !
    // Section Title End
    .row.gy-5.justify-content-between
      .col-lg-12
        // Event Schedule Tabs Start
        .meeta-event-schedule-tabs
          // Event Schedule Tabs Menu Start
          ul.meeta-event-schedule-tabs-menu
            li.active(data-tab-target='#tab1' id='yourself')
              .meeta-event-schedule-time
                h4.meeta-event-schedule-day Se Desafie !
            li.tab(data-tab-target='#tab2' id='someone')
              .meeta-event-schedule-time
                h4.meeta-event-schedule-day Desafie Algu&eacute;m
          // Event Schedule Tabs Menu End
          // Event Schedule Tabs Content Start
          .meeta-event-schedule-tab-content
            // Arguments: Id, FormName, Active
            +challengeForm("tab1", "formChallengeYourself", "active")
            +challengeForm("tab2", "formChallengeSomeone", "")
include ../paymentInfo/checkout.pug
// Main JS
//- script(src='../../components/createChallenge/createChallenge.ts')
