html

  head
  .meeta-event-schedule.meeta-event-schedule-2.section-padding
    .container
      // Section Title Start
      .meeta-section-title-2.text-center
        h4.sub-title Ajoelhou tem que rezar
        h2.main-title Crie Um Desafio !
      // Section Title End
      .row.gy-5.justify-content-between
        .col-lg-12
          // Event Schedule Tabs Start
          .meeta-event-schedule-tabs
            // Event Schedule Tabs Menu Start
            ul.meeta-event-schedule-tabs-menu
              li.active(data-tab-target='#tab1' id='buttonSelectChallengeYourselfForm')
                .meeta-event-schedule-time
                  h4.meeta-event-schedule-day Se Desafie !
              li.tab(data-tab-target='#tab2' id='buttonSelectChallengeSomeoneForm')
                .meeta-event-schedule-time
                  h4.meeta-event-schedule-day Desafie Algu&eacute;m
            // Event Schedule Tabs Menu End
            // Event Schedule Tabs Content Start
            .meeta-event-schedule-tab-content
              #tab1.meeta-event-schedule-tab-pane.active
                // Event Accordion Start
                // Contact Form Start
                .contact-form-section.section-padding
                  .container
                    // Contact Wrap Start
                    .contact-wrap
                      .row.justify-content-center
                        .col-lg-10
                          // Contact Form Wrap Start
                          .contact-form-wrap
                            form(action='#' name='formChallengeYourself')
                              .row
                                .col-md-6
                                  // Single Form Start
                                  .single-form
                                    input#your-name.form-control(type='text' placeholder='Seu Nome')
                                  // Single Form End
                                .col-md-6
                                  // Single Form Start
                                  .single-form
                                    input#your-email.form-control(type='email' placeholder='Seu Email')
                                  // Single Form End
                                .col-md-6
                                  // Single Form Start
                                  .single-form
                                    input#name-supervisor.form-control(type='text' placeholder='Nome do Supervisor')
                                  // Single Form End
                                .col-md-6
                                  // Single Form Start
                                  .single-form
                                    input#email-supervisor.form-control(type='text' placeholder='Email do Supervisor')
                                  // Single Form End
                                .col-md-12
                                  // Single Form Start
                                  .single-form
                                    textarea#description.form-control(placeholder='Descreva Seu Desafio' name ='challengeYourselfDescription')
                                  // Single Form End
                                .col-md-12
                                  // Single Form Start
                                  .form-btn.text-center
                                    button.btn.btn-primary(type='submit')
                                      |
                                  // Single Form End
                                  // Contact Form Wrap End
                                  // Contact Wrap End
                                  // Event Accordion End
              #tab2.meeta-event-schedule-tab-pane
              // Contact Form Start
              .contact-form-section.section-padding
              .container
                // Contact Wrap Start
                .contact-wrap
                  .row.justify-content-center
                    .col-lg-10
                      // Contact Form Wrap Start
                      .contact-form-wrap
                        form(action='#' name='formChallengeSomeone')
                          .row
                            .col-md-6
                              // Single Form Start
                              .single-form
                                input#nome-desafiado.form-control(type='text' placeholder='Nome')
                              // Single Form End
                            .col-md-6
                              // Single Form Start
                              .single-form
                                input#email-desafiado.form-control(type='email' placeholder='Email')
                              // Single Form End
                            .col-md-6
                              // Single Form Start
                              .single-form
                                input.form-control(type='text' placeholder='')
                              // Single Form End
                            .col-md-6
                              // Single Form Start
                              .single-form
                                input.form-control(type='text' placeholder='Subject')
                              // Single Form End
                            .col-md-12
                              // Single Form Start
                              .single-form
                                textarea.form-control(placeholder='Write A Message' name='challengeSomeoneDescription')
                              // Single Form End
                            .col-md-12
                              // Single Form Start
                              .form-btn.text-center
                                button.btn.btn-primary(type='submit')
                                  | Submit Now
                            // Single Form End
                            // Contact Form Wrap End
                            // Contact Wrap End
                            // Event Accordion End
                            // Event Schedule Tabs Content End
                            // Event Schedule Tabs End
