/*----------------------------------------*/
/*  04. Pages CSS (All Page Styles)
/*----------------------------------------*/

@import 'pages/hero';
@import 'pages/register-countdown';
@import 'pages/about';
@import 'pages/event-sponsors';
@import 'pages/event-schedule';
@import 'pages/speaker';
@import 'pages/pricing';
@import 'pages/gallery';
@import 'pages/testimonial';
@import 'pages/page-banner';
@import 'pages/counter';
@import 'pages/blog';
@import 'pages/video';
@import 'pages/topic';
@import 'pages/conference';
@import 'pages/features';
@import 'pages/speaker-single';
@import 'pages/blog-standard';
@import 'pages/blog-details';
@import 'pages/event-single';
@import 'pages/contact';
@import 'pages/event-list';
@import 'pages/faq';
@import 'pages/category';
@import 'pages/trending';
@import 'pages/newsletter';
@import 'pages/event-project';
@import 'pages/login';




